<!-- {{data | json}} -->

<mat-horizontal-stepper [linear]="true" #stepper="matHorizontalStepper">
  <mat-step [stepControl]="firstFormGroup">
    <form [formGroup]="firstFormGroup">
      <ng-template matStepLabel>Fill out your name</ng-template>
      <mat-form-field>
        <input matInput placeholder="Last name, First name" formControlName="firstCtrl" [(ngModel)]="data.name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="emailCtrl" [(ngModel)]="data.email" email required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>
  <mat-step [stepControl]="secondFormGroup">
    <form [formGroup]="secondFormGroup">
      <ng-template matStepLabel>Fill out your address</ng-template>
      <mat-form-field>
        <input matInput placeholder="Address" [(ngModel)]="data.address" formControlName="secondCtrl" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button (click)='updateCus()' [disabled]="data.address == ''" md-dialog-close *ngIf="data.edit">Update</button>
        <button mat-button (click)='addCus()' md-dialog-close [disabled]="data.address == ''" *ngIf="data.isNew">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>